:root {

    --color-primary: #6787F9;

    --color-black: #000000;
    --color-white: #FFFFFF;

    --font-title: "Poppins", sans-serif;
    --font-paragraph: "Inter", sans-serif;
    font-size: 62.5%;

    box-sizing: border-box;
    
}